*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration:none
}
a:hover{
    text-decoration:none
}
#large-header {
    position: relative;
    width: 100%;
    background: #333;
    overflow: hidden;
    background-size: cover;
    z-index: 1;
    background-image: url('../image/demo-1-bg.jpg');
}

.txt_box{
    top: 20px;
    left: 20px;
    width: 320px;
}
.txt_msg{
    background-color: rgba(255,255,255,0.3);
}
.txt_log{
    width: 90%;
    margin-top: 10px;
}
.txt_box .txt_name{
    font-size: 25px;
    width: 100%;
    padding: 0;
    color: #000000;
    text-align: center;
}
#show_txt_table{
    position: absolute;
    left: 0;
    top: 0;
}